---

---

<footer style={{color: 'black', placeItems: 'center', textAlign: 'center'}}>
	<aside>
		<p>
			Copyright © {new Date().getFullYear()} - All right reserved by Lanchitour
		</p>
		<p>
			Built with <a
				href='https://starlight.astro.build/'
				style={{fontWeight: 'bold',}}
				target='_blank'>Astro Starlight</a
			>
		</p>
		<div>
			<a href="https://beian.miit.gov.cn/">鲁ICP备2024059963号-4</a>
			<img src="备案图标.png" style="display: inline;margin: 0 5px;width: 16px;"/>
			<a href="https://beian.mps.gov.cn/#/query/webSearch?code=37028502250707" rel="noreferrer" target="_blank">鲁公网安备37028502250707号</a>
		</div>
	</aside>
</footer>
